.btn {
	font-family: $headings-font-family;
}

[class*="btn-outline"] {
	color: $body-color;
	background-color: #fff;
	border-width: 3px;
}

.bg-light .btn-link {
	font-weight: 600;
}

.btn-tertiary {
	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}