h1 {
	color: theme-color("primary");
}

h1,
h2,
h3,
.entry-meta {
	&.small,
	small {
		font-size: 14px;
		color: color("gray-text");
		font-family: sans-serif;
		
		&:not(.small) {
			letter-spacing: .15em;
		}
		
		.bg-light & {
			color: #737373; // Darken slightly for passing contrast
		}
		
		a {
			color: inherit;
		}
		
		&.decorated {
			position: relative;
				
				&:before,
				&:after {
					color: theme-color("tertiary");
					font-weight: 400;
					display: inline-block;
				}
				
				&:before {
					content: "<";
					margin-right: .25em;
				}
				
				&:after {
					content: ">";
					margin-left: .25em;
				}
		}
	}
}

p {
	line-height: 1.7;
}

article {
	h2 {
		color: theme-color("primary");
	}
	
	li {
		line-height: 1.7;
	}
	
	ol {
		list-style: none;
		counter-reset: li;
		
		> li {
			counter-increment: li;
			
			&:before {
				content: counter(li);
				color: theme-color("primary");
				display: inline-block;
				width: 1em;
				margin-left: -1.5em;
				margin-right: 0.5em;
				text-align: right;
				direction: rtl
			}
			
			ol > li:before {
				color: theme-color("dark");
			}
		}
			
		li + li {
			margin-top: .5em;
		}
	}
	
	h2,
	h3 {
		& + p,
		& + ul,
		& + ol {
			margin-top: 1.5em;
		}
	}
	
	p,
	ol,
	ul,
	.row {
		& + h2,
		& + h3 {
			margin-top: 1.5em;
		}
	}
	
	p small em {
		display: block;
	}
	
	h3 + p:last-child {
		margin-top: .5em;
	}
	
	.lead,
	blockquote {
		padding-left: 1em;
		border-left: 2px solid theme-color("tertiary");
		margin-left: -1.03em;
    	line-height: 1.5;
	}
	
}