body {
	border-top: 2px solid theme-color("tertiary");
	min-height: calc( 100vh - 2px );
}

article:first-of-type {
	border-top: none !important;
	margin-top: 0 !important;
	padding-top: 0 !important;
	
	&:before {
		background: none;
	}
}