footer {
	position: relative;
	overflow: hidden;
	border-top: 2px solid theme-color("secondary");
	
	p {
		margin: 0;
		font-size: .8em;
	}
}

#github {
	font-size: 12px;
	display: inline-block;
    margin: .5em auto;
    padding: .5em .75em;
	
	@include media-breakpoint-up(md) {
		padding: .5em 3em;
		position: absolute;
		right: -2.5em;
		transform: rotate(-35deg);
		bottom: 1em;
	}
    
}